.containter{
    background: #cccccc;
}

.carousel-item img{
    height:600px;
    // 元素適應:自動撥放
    object-fit: cover;
}

// 卡片 圖片
.card img{
    height:500px;
    object-fit:cover;
}

.card-deck img{
    height:300px;
    object-fit:cover;
}

